<style>
    span {
      color: red;
    }
  </style>
{% extends 'main.html' %}
{% block content %}
{% load static %}



<link rel="stylesheet" type="text/css" href="{% static 'css/toastr.css' %}" media="all">







<body class="login_signup_page">
	{% if messages %}
	{% for message in messages %}
		{% if message.tags == 'success'%}
			<script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
		{% elif message.tags == 'info' %}
			<script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
		{% elif message.tags == 'warning' %}
			<script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
		{% elif message.tags == 'error' %}
			<script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
		{% endif %}
	{% endfor %}
{% endif %}

	<div class="container">
		<div class="row d-flex login_signup_block">
			<div class="col-12 col-lg-6">
				<div class="login_signup_left d-flex align-items-end">
					<img src="{% static 'assets/images/mobile_hand.png'  %}" alt="Mobile" />
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="logo text-center">
					<a href="/"><img src="{% static 'assets/images/logo.png'  %}" alt="Logo" /></a>
				</div>
				<div class="login_signup_form mt-3">
					<nav>
						<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="signup_tab" data-toggle="tab" href="#nav-signup" role="tab" aria-controls="nav-signup" aria-selected="true">Sign Up</a>
							
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-signup" role="tabpanel" aria-labelledby="signup_tab">
							<div class="form_content">
								<h4>Sign up</h4>
								<h5>to open your account</h5>
								<form class="login_signup mt-3" id="first_form" method="post">
									{% csrf_token %}
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<input type="text" class="form-control" id="username" placeholder="username "   name="username" >
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12 col-lg-6">
											<div class="form-group">
												<input type="text" class="form-control" id="firstname" placeholder="First Name " name="firstname" >
											</div>
										</div>
										<div class="col-12 col-lg-6">
											<div class="form-group">
												<input type="text" class="form-control" id="lastname" placeholder="Last Name *" name="lastname" >
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12 col-lg-6">
											<div class="form-group">
												<input type="text" class="form-control" id="phone" placeholder="Phone Number *" name="phone" >
											</div>
										</div>
										<div class="col-12 col-lg-6">
											<div class="form-group">
												<input type="text" class="form-control" id="contry" placeholder="Country *" name="contry">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<input type="email" class="form-control" id="email" placeholder="Email *" name="email" >
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12 col-lg-6">
											<div class="form-group">
												<input type="password" class="form-control" id="password1" placeholder="Password *" name="password1" >
											</div>
										</div>
										<div class="col-12 col-lg-6">
											<div class="form-group">
												<input type="password" class="form-control" id="password2" placeholder="Password Confirmation *" name="password2" >
											</div>
										</div>
									</div>
									
									
									<div class="form-group chk_agree">
										<input type="checkbox"  /> I agree with <a href="#" class="green_text">Customer Agreement</a>
									</div>
									<div class="form-group">
										<!-- <input type="submit" class="btn btn_normal btn_light_green w-100" id="login_submit" value="Continue"> -->
										<button type="submit" class="btn btn_normal btn_light_green w-100"  >submit</button>
									</div>
									<div class="form-group bottom_link">
										Already a member? <a href="/login" >Sign in now!</a>
									</div>
								</form>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>


	$(document).ready(function () {

$('#first_form').submit(function () {

  var username = $('#username').val();
  var firstname = $('#firstname').val();
  var lastname = $('#lastname').val();
  var phone = $('#phone').val();
  var password1 = $('#password1').val();
  var password2 = $('#password2').val();
  var mail = $('#email').val();
  var contry = $('#contry').val();
 

  $(".error").remove();

  if (username.length < 5) {
	$('#username').after('<span class="error">This field is required</span>');
	toastr.error('please enter username','username')
	return false;

  }
  if (firstname.length < 3) {
	$('#firstname').after('<span class="error">This field is required</span>');
	toastr.error('please enter firstname','firstname')
	return false;

  }
  if (lastname.length < 3) {
	$('#lastname').after('<span class="error">This field is required</span>');
	toastr.error('please enter lastname','lastname')
	return false;

  }
  
  if (phone.length <= 9) {
	$('#phone').after('<span class="error">Enter Phone Number</span>');

	// $.toast(
	//   {
	//     text: ["phone number is Empty"],
	//     hideAfter: 2000
	//   }
	// )
	toastr.error('please enter Phone Number','Phone')
	return false;
  }

  if (contry.length < 5) {
	$('#contry').after('<span class="error">Contry Field is requird</span>');

	toastr.error('Enter Contry','Contry')

	return false;
  }

  if (mail.length < 10) {
	$('#email').after('<span class="error">Email Field is required</span>');
	toastr.error('please enter Mail','Email')
	return false;
  }


  if (password1.length < 8) {
	$('#password1').after('<span class="error">Password must be at least 8 characters long</span>');
	toastr.error('please enter Password','Password')
	return false;
  }
  if (password2 != password1) {
	$('#password2').after('<span class="error">Confirm Password Not Match Password</span>');
 toastr.error('Does Not Match Password','confirm password')
	return false;
  }






});

});
	</script>

	{% endblock content %}

  
